livekit-agents[openai,silero,turn-detector,deepgram,assemblyai,tavus,elevenlabs,anthropic,google]==1.3.11
livekit-plugins-noise-cancellation~=0.2
livekit-plugins-liveavatar==1.3.11
python-dotenv
aiohttp>=3.8.0
lxml>=4.9.0